include README.md
recursive-include octoprint_JuliaAdvanced2022TouchUI/templates *
recursive-include octoprint_JuliaAdvanced2022TouchUI/config *
include versioneer.py
include octoprint_JuliaAdvanced2022TouchUI/_version.py